@media only screen and (min-width: 1024px) and (max-width: 1540px) {
	.container1 {
		max-width: 100%;
		/* margin: 0 auto; */
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.headertext,
	.footertext {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
	}

	.aboutabout {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 1024px;
		padding: 0 20px;
	}

	.aboutme {
		width: 100%;
		max-width: 605px;
	}

	.myphoto {
		width: 100%;
		max-width: 540px;
		height: auto;
	}

	.container2 {
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.skills,
	.squares {
		padding-top: 50px;
		font-size: 48px;
		line-height: 58px;
	}

	.squares {
		flex-direction: column;
		gap: 40px;
		margin-bottom: 150px;
	}

	.squar1,
	.squar2,
	.squar3 {
		width: 100%;
		height: 400px;
		justify-content: flex-start;
	}

	.squar2 {
		background-color: rgba(217, 170, 144, 1);
	}

	.my-projects {
		max-width: 819px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgba(7, 32, 63, 1);
	}

	.project-title {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 800;
		font-size: 72px;
		line-height: 88px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #fff;
		margin-top: 100px;
		margin-bottom: 100px;
		text-align: center;
	}

	.project1,
	.project2,
	.project3 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 120px;
		width: 100%;
		max-width: 760px;
		gap: 20px;
	}

	.project2 {
		flex-direction: column-reverse;
	}

	.project2 h1 {
		text-align: center;
	}

	.photoproject {
		width: 760px;
		height: 516px;
		object-fit: cover;
	}

	.projectdescriptionone,
	.projectdescriptiontwo,
	.projectdescriptionthree {
		width: 605px;
		text-align: center;
	}

	.projectdescriptiontwo {
		text-align: center;
	}

	.projectdescriptionone h1,
	.projectdescriptiontwo h1,
	.projectdescriptionthree h1 {
		font-family: Montserrat;
		font-size: 64px;
		font-weight: 800;
		line-height: 78px;
		margin-top: 20px;
		margin-bottom: 20px;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
	}

	.projectdescriptionone article,
	.projectdescriptiontwo article,
	.projectdescriptionthree article {
		font-family: Roboto;
		font-size: 36px;
		font-weight: 400;
		line-height: 42px;
		text-align: center;
		color: rgba(217, 217, 217, 1);
	}

	.container4 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.contacts,
	.squarestwo {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.contacts {
		font-size: 48px;
		line-height: 58px;
		padding-top: 80px;
		color: #000;
	}

	.squarestwo {
		max-width: 760px;
		margin-top: 60px;
		margin-bottom: 150px;
		gap: 20px;
	}

	.squar11,
	.squar22,
	.squar33 {
		width: 100%;
		height: auto;
		padding: 5%;
		align-items: center;
		justify-content: center;
	}

	.github,
	.telegram,
	.telephone {
		width: 100%;
		height: auto;
		font-size: 32px;
		line-height: 39px;
		border-radius: 30px;
		left: auto;
		top: auto;
		transform: none;
	}
}
