@import url("https://fonts.googleapis.com/css?family=Inter:400,700|Montserrat:400,700,800|Roboto:400,700&display=swap");
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/* @media (max-width: 1540px) {
	.red-text {
		display: flex;
		flex-direction: column;
		font-size: 4.6vw;
		color: red;
		height: 100vh;
		text-align: justify;
	}

	.red-text h1 {
		text-align: center;
	}

	.red-text p {
		text-indent: 5vw;
		background-color: rgba(7, 32, 63, 1);
		padding: 15px;
	}

	section > *:not(.red-text) {
		display: none;
	}
}

@media only screen and (min-width: 1541px) {
	.red-text {
		display: none;
	}
} */
