.container2 {
	width: 1540px;
	margin: 0 auto;
}

.skills,
.squares {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 88px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	padding-top: 100px;
}

.squares {
	flex-direction: row;
	color: #fff;
	gap: 20px;
	padding-top: 60px;
	margin-bottom: 250px;
}

.squar1,
.squar2,
.squar3 {
	display: flex;
	background-color: rgba(7, 32, 63, 1);
	height: 500px;
	align-items: center;
	justify-content: center;
	width: 33%;
}

.squar2 {
	background: rgba(217, 170, 144, 1);
}
