/*
&display=swap
&subset=cyrillic-ext
*/

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
}

html {
    /* по умолчанию */
    /* font-size: 16px;  */
}

body {
    line-height: 1;
    color: #fff;
    background-color: #333;
    font-family: "Roboto", serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ------------------------------ */
.main {
    flex-grow: 1;
    padding: 30px;
}

[class*="__container"] {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
    /* display: flex; */
}

.main__registration {
    display: flex;
    margin-bottom: 30px;
}

.summary {
    font-family: 'Roboto', sans-serif;
}

.summary__block {
    background: #fff;
    color: #000;
    display: flex;

    padding: 14px 32px;
}

.summary__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* margin-bottom: 18px; */
}

.summary__list {
    font-size: 18px;
    line-height: 27px;
    /*margin-bottom: 12px;*/
}

.summary__subtitle {
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #666666;
}

.summary__form {}

.form-summary {}

.form-summary__select {
    width: 100%;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 386px;
    height: 50px;
    padding: 0 17px;
    border-radius: 4px;
    border: 1px solid #A2A6B0;
}

.form-summary__text {}

.form-summary__line {}

.form-summary__title {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 210%;
}

.form-summary__shell_High, .form-summary__shell_Low {
    position: relative;
}

.form-summary__img {
    position: absolute;
    top: 15px;
    right: 5px;
}

.form-summary__img-2 {
    position: absolute;
    top: 15px;
    right: 5px;
    transform: rotate(45deg);
}

.form-summary__input {
    width: 100%;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    height: 50px;
    vertical-align: middle;
    align-content: center;
    padding: 0 17px;
    border-radius: 4px;
    border: 1px solid #A2A6B0;
    margin: 0 0 8px 0;
}

.form-summary__shell-task {
    position: relative;
    margin: 0 0 8px 0;
}

.form-summary__task {
    padding: 12px 45px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #A2A6B0;
    display: flex;
    column-gap: 8px;
    white-space: break-spaces;
    transition: all 0.3s ease 0s;
    font-size: 18px;
}

.form-summary__task::before {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 20px;
    height: 20px;
    content: "";
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #989898;
}

.form-summary__task::after {
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 14px;
    left: 20px;
    width: 13px;
    height: 13px;
    content: "";
    background-color: #C4C4C4;
    border-radius: 50%;
    transform: scale(0);
}

.form-summary__textarea {
    width: 510px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    height: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    padding: 0 17px;
    border-radius: 4px;
    border: 1px solid #A2A6B0;
    margin: 0 0 8px 0;
}

textarea {
    width: 100%;
    resize: none;
    height: 1rem;
    overflow: hidden;
}


.inputt {
    z-index: 999;
    position: absolute;
    top: 14px;
    left: 20px;
    opacity: 0;
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    transform: scale(1.6);
}

.inputt:checked+.form-summary__task::after {
    transform: scale(1);
    font-size: 10px;
    content: '✔️';
}

.inputt:checked+.form-summary__task {
    background-color: #c5c4c4;
}